export(betweenness.induced)

export(degree.induced)

export(closeness.induced)

export(eigenvector.induced)

import(igraph)

import(dplyr)

import(network)

import(gridExtra)

import(centiserve)


